body {
    background: url('../assets/IMG_9559.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
}

.mensagens-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 95%;
    max-width: 550px;
    color: #fff;
    margin: 120px auto 20px; /* Ajuste para evitar sobreposição com o header */
}

ul {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

.usuario {
    font-weight: bold;
    color: #007bff;
}

.mensagem {
    font-size: 14px;
    color: #fff;
}

footer {
    background: black;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.botao-link {
    display: block;
    background: #6f00ff;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0px 0px 15px rgba(167, 119, 227, 0.8);
    width: fit-content;
    margin: 25px auto; /* Ajuste para evitar sobreposição */
}

.botao-link:hover {
    background: #8c00ff;
    box-shadow: 0px 0px 25px rgb(117, 58, 189);
}

@media (max-width: 600px) {
    .mensagens-container {
        width: 95%;
    }
    
    .botao-link {
        font-size: 18px;
        padding: 12px 20px;
    }
    
    footer {
        font-size: 16px;
        padding: 15px;
    }
}
